appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7"
backcall==0.2.0; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
decorator==5.0.7; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==7.22.0; python_version >= "3.7"
jedi==0.18.0; python_version >= "3.7"
numpy==1.20.2; python_version >= "3.7" and python_full_version >= "3.7.1"
pandas==1.2.4; python_full_version >= "3.7.1"
parso==0.8.2; python_version >= "3.7"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pivottablejs==0.9.0
prompt-toolkit==3.0.18; python_full_version >= "3.6.1" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7"
pygments==2.8.1; python_version >= "3.7"
python-dateutil==2.8.1; python_full_version >= "3.7.1"
pytz==2021.1; python_full_version >= "3.7.1"
six==1.15.0; python_full_version >= "3.7.1"
traitlets==5.0.5; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.7"
